<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/history">Optreden geschiedenis</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/comming">Optredens deze week</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/allperformance">Alle optredens</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   CRUD
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/optreden">Optredens</a>
                    <a class="dropdown-item" href="/artiest">Artiesten</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/contact">Contact</a>
            </li>


        </ul>
    </div>
</nav>