{% extends 'base.html.twig' %}

{% block title %}Hello PublicController!{% endblock %}

{% block body %}
    <br>
    <div class="jumbotron">
        <h1 class="display-3">Welkom bij de optreden site!</h1>
        <p>op deze site kan je de komende optredens bekijken en de optredens die zijn geweest.</p>
    </div>
{% endblock %}
